<% content_for :head do %>
  <meta name="description" content="Software Engineer at Coursera" />
<% end %>

<main class="main">
  <picture class="jar-head">
    <source srcset="/avatar_logo.avif" type="image/avif" />
    <img
      class="avatar"
      width="128"
      height="128"
      decoding="async"
      loading="lazy"
      src="/avatar_logo.jpeg"
      alt="My head in a jar"
    />
  </picture>
  <h1 class="fullname">Vadim Boltach</h1>
  <p class="summary">
    Hey 👋. I&apos;m a software engineer with expertise in web development.
    Learning and helping others to learn at <a href="https://www.coursera.org/" target="_blank">Coursera.</a>
    Love minimalist design and thoughtful UX. Trying to make web<strike>sites</strike> faster and more accessible.
  </p>
  <a
    class="download-resume-link"
    href="/vadim_boltach_cv.pdf"
    download
  >
    Download CV (PDF, 67 Kb)
  </a>
</main>
