<% content_for :head do %>
  <meta name="description" content="Software Engineer at Coursera" />
<% end %>

<main class="main">
  <picture class="jar-head">
    <source srcset="/avatar_logo.avif" type="image/avif" />
    <img
      class="avatar"
      width="128"
      height="128"
      decoding="async"
      loading="lazy"
      src="/avatar_logo.jpeg"
      alt="My head in a jar"
    />
  </picture>
  <h1 class="fullname">Vadim Boltach</h1>
  <p class="summary">
    <strong>He</strong>y 👋. I&apos;m a <strong>soft</strong>ware
    <strong>eng</strong>ineer with <strong>expe</strong>rtise in
    <strong>we</strong>b <strong>dev</strong>elopment.
    <strong>Lea</strong>rning and <strong>help</strong>ing others to
    <strong>lea</strong>rn at
    <a href="https://www.coursera.org/" target="_blank">Coursera.</a>
    Love <strong>min</strong>imalist <strong>desi</strong>gn and
    <strong>tho</strong>ughtful UX. <strong>Try</strong>ing to make
    <strong>web</strong><strike>sites</strike> <strong>fa</strong>ster and
    <strong>acce</strong>ssible.
  </p>
  <a
    class="download-resume-link"
    href="/vadim_boltach_cv.pdf"
    download
  >
    Download CV (PDF, 67 Kb)
  </a>
</main>
