<% content_for :head do %>
  <meta name="description" content="Software Engineer at Coursera">
<% end %>

<main
  class="
    grid grid-cols-1 md:grid-cols-[128px_512px] gap-y-8 gap-x-16 w-fit
    mx-auto font-firacode p-6 md:py-32
  "
>
  <picture class="md:col-1 md:row-start-1 md:row-end-3">
    <source srcset="/avatar_logo.avif" type="image/avif">

    <img
      class="w-32 h-32 rounded-xl"
      width="128"
      height="128"
      decoding="async"
      loading="lazy"
      src="/avatar_logo.jpeg"
      alt="My head in a jar"
    >
  </picture>

  <h1 class="md:col-2 text-6xl">Vadim Boltach</h1>

  <p class="md:col-2 leading-relaxed font-light text-xl">
    Hey 👋. I&apos;m a software engineer specializing in web applications and
    frontend tooling. Love minimalist design and thoughtful UX. Trying to make
    <span class="inline-flex gap-3">
      web
      <strike>sites</strike>
    </span>
    faster and more accessible.
  </p>

  <a
    class="
      md:col-2 text-blue-500 underline underline-offset-4
      hover:text-blue-700 text-xl font-light
    "
    href="/vadim_boltach_cv.pdf"
    download
  >
    Download CV (PDF, 67 Kb)
  </a>
</main>
